@media all {
    .aa-fleetfinder .ss-main .ss-multi-selected .ss-add {
        margin: 17px;
    }

    .aa-fleetfinder .ss-main .ss-multi-selected {
        height: 45px;
    }

    .aa-fleetfinder .ss-main .ss-multi-selected .ss-values .ss-value {
        font-size: 14px;
    }
}
