{% extends "fleetfinder/base.html" %}

{% load aa_i18n %}
{% load i18n %}

{% block page_title %}
    {% translate "Fleet details" %} » {% translate "Fleet Finder" %}
{% endblock %}

{% block aa_fleetfinder_body %}
    <div class="row">
        <div class="col-lg-6 col-lg-push-6">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="card-title mb-0">
                        {% translate "Fleet composition" %}
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-vertical-middle w-100" id="table_fleet_composition">
                            <thead>
                                <tr>
                                    <th>{% translate "Ship class" %}</th>
                                    <th>{% translate "Count" %}</th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-lg-pull-6">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="card-title mb-0">
                        {% translate "Fleet members" %}
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-vertical-middle w-100" id="table_fleet_members">
                            <thead>
                                <tr>
                                    <th>{% translate "Name" %}</th>
                                    <th>{% translate "Ship class" %}</th>
                                    <th>{% translate "System" %}</th>
                                    <th><!-- {% translate "Action" %} --></th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    {% include "bundles/datatables-css-bs5.html" %}
    {% include "fleetfinder/bundles/css/fleetfinder-css.html" %}
{% endblock %}

{% block extra_javascript %}
    {% include "bundles/datatables-js-bs5.html" %}
    {% include "fleetfinder/bundles/js/fleetfinder-js.html" %}

    {% get_datatables_language_static LANGUAGE_CODE as DT_LANG_PATH %}

    {% translate "Fleet boss" as l10nFleetBoss %}
    {% translate "Kick member from fleet" as l10nKickMemberFromFleet %}

    <script>
        $(document).ready(() => {
            const table_fleet_members = $('#table_fleet_members');
            const table_fleet_composition = $('#table_fleet_composition');

            const dataTableConfig = {
                language: {
                    url: '{{ DT_LANG_PATH }}'
                },
                paging: false,
                destroy: true
            };

            const populateDatatables = () => {
                fetchGet({
                    url: '{% url "fleetfinder:ajax_fleet_details" fleet_id %}'
                })
                .then((data) => {
                    table_fleet_members.DataTable({
                        ...dataTableConfig,
                        data: data.fleet_member,
                        columns: [
                            {
                                render: (data, type, row) => {
                                    return row.is_fleet_boss
                                        ? `${row.character_name} <sup data-bs-tooltip="aa-fleetfinder" title="{{ l10nFleetBoss|escapejs }}"><small><i class="fa-solid fa-star"></i></small></sup>`
                                        : row.character_name;
                                }
                            },
                            {data: 'ship_type_name'},
                            {data: 'solar_system_name'},
                            {
                                render: (data, type, row) => {
                                    return row.is_fleet_boss
                                        ? ''
                                        : `<button type="button" class="btn btn-sm btn-danger" data-link="/foobar" data-bs-tooltip="aa-fleetfinder" title="{{ l10nKickMemberFromFleet|escapejs }}"><i class="fa-solid fa-user-minus"></i></button>`;
                                },
                                orderable: false,
                                searchable: false,
                                width: '50px',
                                className: 'text-end'
                            }
                        ]
                    });

                    table_fleet_composition.DataTable({
                        ...dataTableConfig,
                        data: data.fleet_composition,
                        columns: [
                            {data: 'ship_type_name'},
                            {data: 'number', className: 'text-right', width: '100px'}
                        ],
                        order: [[1, 'desc']]
                    });
                })
                .then(() => {
                    // Initialize tooltips for the kick buttons
                    fleetfinderBootstrapTooltip({selector: '#table_fleet_members'});
                })
                .catch((error) => {
                    console.error('Error fetching fleet details:', error);
                });
            };

            populateDatatables();

            setInterval(populateDatatables, 30000);
        });
    </script>
{% endblock %}
